{% extends "base.html.twig" %}

{% block title %}Liste des joueurs{% endblock %}

{% block body %}
    <h1>Liste des joueurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>XP</th>
                <th>Niveau</th>
                <th>Groupe(s)</th>
                <th>Partie(s)</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.id }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.xp }}</td>
                <td>{{ player.level }}</td>
                <td>
                    {% for group in player.groups %}
                        {{ group.name }}{% if not loop.last %}, {% endif %}
                    {% else %}
                        Aucun groupe
                    {% endfor %}
                </td>
                <td>
                    {% for game in player.games %}
                        {{ game.name }}{% if not loop.last %}, {% endif %}
                    {% else %}
                        Aucune partie
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}